.main-view {
  border-radius: 10px;
}

.main-content {
  background-color: black;
  border-radius: 10px;
  padding: 15px 10px;
}

.main-content h2,
.main-content p {
  color: white;
}

.title {
  font-size: 22px;
  padding: 10px;
}
.text {
  margin-top: 20px;
  font-size: 14px;
}
